<%- include("_header") -%>
<section style="padding: 25px;"></section>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Lista de Clientes</h4>
            <p class="card-category">
              Quantidade de cliente: <%= model.length %>
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nome do Cliente
                  </th>
                  <th>
                    Serviço
                  </th>
                  <th>
                    Valor do Serviço
                  </th>
                  <th class="d-print-none">
                    <a class="btn btn-sm btn-success" href="/clients/create"
                      >Add</a
                    >
                  </th>
                </thead>
                <tbody>
                  <% for (const client of model) { %>
                  <tr>
                    <td><%= client.FirtName %></td>
                    <td><%= client.ServiceName %></td>
                    <td class="text-primary">
                      R$ <%= client.PriceService %>
                    </td>
                    <td class="d-print-none">
                      <a
                        class="btn btn-sm btn-warning"
                        href="/clients/edit/<%= client.Client_ID %>"
                        >Edit</a
                      >
                      <a
                        class="btn btn-sm btn-danger"
                        href="/clients/delete/<%= client.Client_ID %>"
                        >Delete</a
                      >
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="padding: 50px;"></section>
<%- include("_footer") -%>
